<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>

{% block title %}<title>TODO list</title>{% endblock %}
</head>
<body>
<a style="float: right" href="{% url 'tasks:task-create' %}" class="btn btn-primary link-to-page">Add</a>
<br>
<br>
{% load crispy_forms_filters %}

{% block content %}
    <br>
      <a style="float: right" href="{% url 'tasks:task-create' %}" class="btn btn-primary link-to-page">Add</a>

<h1>TODO list</h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">



  <section>
  {% if task_list %}

    {% for task in task_list %}
          <p><strong>{{ task.content }}</strong>{% if task.is_done %} <span style="color: green">Done{% else %}</span>
            <span style="color: red">Not Done {% endif %}</span></p>
          <p>Created: {{ task.created_at }}
            {% if task.deadline %}
              Deadline: {{ task.created_at }}. {% endif %}</p>
            {% if task.tags.all != 0 %}
              {% for tag in task.tags.all %}
                <p>Tags: {{ tag.name }}
              {% endfor %}
            {% endif %}
              <a href="{% url "tasks:task-update" pk=task.id %} ">Update</a>
              <a href="{% url "tasks:task-delete" pk=task.id %} " style="color: red">Delete</a></p>

        <div class="d-flex align-items-center">
        <div class="ml-auto">
          {% if task.is_done == False %}
            <form method="POST" action="{% url 'tasks:task-status-update' pk=task.id %}" class="form-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary link-to-page">
                Undo
              </button>
            </form>
          {% else %}
            <form method="POST" action="{% url 'tasks:task-status-update' pk=task.id %}" class="form-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary link-to-page">
                complete
              </button>
            </form>
          {% endif %}
        </div>
      </div>
{#      </tr>#}
      </section>
    {% endfor %}
      {% else %}
              <p>There are no tasks to perform yet</p>
  {% endif %}


{#  </table>#}
{% endblock %}
</body>
</html>
